@use '../core/variables' as vars;

.main-button {
    background-color:vars.$main-color;
    height: 48px;
    width: 176px;
    border:none;
    color:#ffffff;
    font-family:vars.$main-font;
    transition:0.5s;
    &:hover{
        background-color:#ff975a;
    }
}