<footer class="page__footer">
  <h6>Tienda</h6>
  <nav>
    <ul>
      <li><a href="https://adalab.es/" target="_blank">Productos</a></li>
      <li><a href="https://adalab.es/" target="_blank">Cajoneras</a></li>
      <li><a href="https://adalab.es/" target="_blank">Para toda la casa</a></li>
      <li><a href="https://adalab.es/" target="_blank">Habitaciones</a></li>
    </ul>
  </nav>
  <h6>Nosotros</h6>
  <nav>  
    <ul>
      <li><a href="https://adalab.es/" target="_blank">Nuestra guía</a></li>
      <li><a href="https://adalab.es/" target="_blank">Nuestro diseño</a></li>
      <li><a href="https://adalab.es/" target="_blank">Nuestra historia</a></li>
      <li><a href="https://adalab.es/" target="_blank">Ayuda</a></li>
    </ul>
  </nav>
  <h6>Contacto</h6>
  <nav>
    <ul>
      <li><a href="mailto:ayuda@openspaces.com" target="_blank">ayuda@openspaces.com</a></li>
      <li><a href="https://adalab.es/" target="_blank">Socios</a></li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li><a href="#" target="_blank"><img src="./images/linkedin.png" alt="Linkedin"/></a></li>
      <li><a href="#" target="_blank"><img src="./images/instagram.png" alt="Instagram"/></a></li>
      <li><a href="#" target="_blank"><img src="./images/twitter.png" alt="Twitter"/></a></li>
    </ul>
  </nav>
  <small>&copy; Todos los derechos reservados</small>
</footer>
