<header class="header">
  <nav class="hamburguer-nav">
    <a target="_blank" href="https://adalab.es/">
      <img src="./images/menu-hamburger.png" alt="menu"/>
    </a>
    </nav>
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a class="main-nav-list__a" href="https://adalab.es/" target="_blank">Productos</a></li>
      <li><a class="main-nav-list__a" href="https://adalab.es/" target="_blank">Colecciones</a></li>
      <li><a class="main-nav-list__a" href="https://adalab.es/" target="_blank">Tienda</a></li>
      <li><a class="main-nav-list__a" href="https://adalab.es/" target="_blank">Inicio</a></li>
    </ul>
  </nav>
  <img class="header__img" src="./images/logo.png" alt="Open Spaces">
  <section class="header__section">
    <div class="box-header">
      <h1 class="box-header__title">{=$title}</h1>
      <button class="main-button">Comprar Ahora</button>
    </div>
</section>
</header>
