<main class="main">
 <section class="main__section main__section--white">
  <div  class="section-content">
    <h2 class="section-content__title">Volverse organizado se siente mejor con OPEN SPACES</h2>
    <div class="section-content__cards">
      <article class="card">
        <img class="card__img" src="./images/icon_1.png" alt="icono mesita"/>
        <h4 class="card__title">Lo que necesitas</h4>
        <p class="card__text">Una linea de productos diseñados para todos tus espacios</p>
      </article>
      <article class="card">
        <img class="card__img" src="./images/icon_2.png" alt="icono bolsa reciclaje"/>
        <h4 class="card__title">Materias primas sustentables</h4>
        <p class="card__text">Todos los productos con materias primas sustentables</p>
      </article>
      <article class="card">
        <img class="card__img" src="./images/icon_3.png" alt="icono cartel"/>
        <h4 class="card__title">Guía</h4>
        <p class="card__text">Soporte y asesoramiento para ayudarte con tu objetivo</p>
      </article>
    </div>
  </div>
 </section>
 <section class="main__section main__section--colored">
  <div  class="section-content">
    <img src="./images/icon_envio.png" alt="icono envío gratis"/>
    <h2 class="section-content__title">Envío gratis garantizado</h2>
    <p class="section-content__text">Envío gratis en compras desde 100</p>
    <a class="section-content__cta" href="https://adalab.es/" target="_blank">Comprar ahora</a>
  </div>
</section>
 <section class="main__section main__section--white">
  <div  class="section-content section-content--img-right">
    <h2 class="section-content__title">Disfruta creando espacios</h2>
    <p class="section-content__text">Una línea de productos diseñados para todos tus espacios</p>
    <button class="main-button">Comprar Ahora</button>
  </div>
  <div class="img">
    <img src="./images/creando-espacios.jpg" class="section-main--img-right__img" alt="cajas organizadoras de baño"/>
  </div>
 </section>

</main>
